.news {
  padding: 40px 0 80px 0;
}

.news .card-text1 {
  margin-top: 12px;
}
.news .reg-btn {
  width: 140px;
}
.news-box {
  padding: 16px 0;

  display: flex;
  justify-content: center;
  gap: 30px;
}
