* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 400px) {
  .container {
    padding: 0;
  }
}